<link rel="import" href="../third_party/polymer-all/polymer-elements/polymer-ajax/polymer-ajax.html">

<polymer-element name="rietveld-issue" attributes="server number">
  <template>
    <polymer-ajax
        auto
        url="{{ server }}/api/{{number}}"
        handleAs="json"
        id="ajax"
        on-polymer-response="issueLoadSucceeded"
        on-polymer-error="issueLoadFailed">
    </polymer-ajax>
    <style>
    .description {
      white-space: pre;
    }
    </style>
    <template if="{{ issue }}">
      <h1 class="subject">{{ issue.subject }}</h1>
      <div class="description">{{ issue.description }}</div>
      <div class="recipients">
        <div class="reviewers">
          <template repeat="{{ email in issue.reviewers }}">
            <span class="email">{{ email }}</span>
          </template>
        </div>
        <div class="cc">
          <template repeat="{{ email in issue.cc }}">
            <span class="email">{{ email }}</span>
          </template>
        </div>
      </div>
      <label>Closed: <input type="checkbox" checked="{{ issue.closed }}"></label>
      <label>Commit: <input type="checkbox" checked="{{ issue.commit }}"></label>
      <label>Private: <input type="checkbox" checked="{{ issue.private }}"></label>
      <div class="created">{{ issue.created }}</div>
      <div class="modified">{{ issue.modified }}</div>
      <div class="owner"><span class="name">{{ issue.owner }}</span><span class="email">{{ issue.owner_email }}</span></div>
      <template repeat="{{ patchset in issue.patchsets }}">
        <rietveld-patchset server="{{ server }}" issue="{{ number }}" patchset="{{ patchset }}"></rietveld-patchset>
      </template>
    </template>

    <template if="{{ error }}">
      <h1>Issue {{number}} failed to load.</h1>
      <p>{{error}}</p>
    </template>
  </template>
  <script>
  Polymer('rietveld-issue', {
    number: '',
    issue: null,
    error: '',
    numberChanged: function() {
      this.issue = null;
      this.error = '';
    },
    issueLoadSucceeded: function(event) {
      this.issue = event.detail.response;
    },
    issueLoadFailed: function(event) {
      this.error = event.detail.response;
    },
  });
  </script>
</polymer-element>
<polymer-element name="rietveld-patchset" attributes="server issue patchset">
  <template>
    <polymer-ajax
        auto
        url="{{ server }}/api/{{ issue }}/{{ patchset }}"
        handleAs="json"
        id="ajax"
        on-polymer-response="patchsetLoadSucceeded"
        on-polymer-error="patchsetLoadFailed">
    </polymer-ajax>
    <div>TODO(rietveld-patchset)</div>
    <!-- The API we need doesn't have CORS headers yet: https://codereview.appspot.com/12739044/ -->
    <template if="{{ error }}">
      <h2>Patchset {{ patchset }} failed to load.</h2>
      <p>{{error}}</p>
    </template>
  </template>
  <script>
  Polymer('rietveld-patchset', {
    issue: '',
    patchset: '',
    data: null,
    error: '',

    patchsetLoadSucceeded: function(event) {
      this.data = event.detail.response;
    },
    patchsetLoadFailed: function(event) {
      this.error = event.detail.response;
    },
  });
  </script>
</polymer-element>
