<link rel="import" href="../third_party/polymer-all/polymer-elements/polymer-ajax/polymer-ajax.html">
<script src="diff.js"></script>
<polymer-element name="rietveld-issue" attributes="server number">
  <template>
    <polymer-ajax
        auto
        url="{{ server }}/api/{{number}}"
        handleAs="json"
        id="ajax"
        on-polymer-response="issueLoadSucceeded"
        on-polymer-error="issueLoadFailed">
    </polymer-ajax>
    <style>
    .description {
      white-space: pre;
    }
    </style>
    <template if="{{ data }}">
      <h1 class="subject">{{ data.subject }}</h1>
      <div class="description">{{ data.description }}</div>
      <div class="recipients">
        <div class="reviewers">
          <template repeat="{{ email in data.reviewers }}">
            <span class="email">{{ email }}</span>
          </template>
        </div>
        <div class="cc">
          <template repeat="{{ email in data.cc }}">
            <span class="email">{{ email }}</span>
          </template>
        </div>
      </div>
      <label>Closed: <input type="checkbox" checked="{{ data.closed }}"></label>
      <label>Commit: <input type="checkbox" checked="{{ data.commit }}"></label>
      <label>Private: <input type="checkbox" checked="{{ data.private }}"></label>
      <div class="created">{{ data.created }}</div>
      <div class="modified">{{ data.modified }}</div>
      <div class="owner"><span class="name">{{ data.owner }}</span><span class="email">{{ data.owner_email }}</span></div>
      <template repeat="{{ patchset in data.patchsets }}">
        <rietveld-patchset server="{{ server }}" issue="{{ number }}" patchset="{{ patchset }}"></rietveld-patchset>
      </template>
    </template>

    <template if="{{ error }}">
      <h1>Issue {{number}} failed to load.</h1>
      <p>{{error}}</p>
    </template>
  </template>
  <script>
  Polymer('rietveld-issue', {
    server: '',
    number: '',
    data: null,
    error: '',
    issueLoadSucceeded: function(event) {
      this.data = event.detail.response;
      this.error = '';
    },
    issueLoadFailed: function(event) {
      this.data = null;
      this.error = event.detail.response;
    },
  });
  </script>
</polymer-element>
<polymer-element name="rietveld-patchset" attributes="server issue patchset">
  <template>
    <polymer-ajax
        auto
        url="{{ server }}/api/{{ issue }}/{{ patchset }}"
        handleAs="json"
        id="ajax"
        on-polymer-response="dataLoadSucceeded"
        on-polymer-error="dataLoadFailed">
    </polymer-ajax>
    <polymer-ajax
        auto
        url="{{ server }}/download/issue{{ issue }}_{{ patchset }}.diff"
        id="ajax"
        on-polymer-response="diffLoadSucceeded"
        on-polymer-error="diffLoadFailed">
    </polymer-ajax>
    <!--
      The API we need doesn't have CORS headers yet:
      https://codereview.appspot.com/12739044/
      For now, we can test with a local server.
    -->
    <template if="{{ data &amp;&amp; diff }}">
      <rietveld-diffview diff="{{ diff }}"></rietveld-diffview>
      <div class="created">{{ data.created }}</div>
      <div class="modified">{{ data.modified }}</div>
      <div class="owner"><span class="name">{{ data.owner }}</span><span class="email">{{ data.owner_email }}</span></div>
    </template>

    <template if="{{ error }}">
      <h2>Patchset {{ patchset }} failed to load.</h2>
      <p>{{error}}</p>
    </template>
  </template>
  <script>
  Polymer('rietveld-patchset', {
    server: '',
    issue: '',
    patchset: '',
    data: null,
    diff: null,
    error: '',

    massage_: function(data) {
      function flatten(map) {
        var result = [];
        for (var key in map) {
          result.push({
            key: key,
            value: map[key],
          });
        }
        return result;
      }
      data.files = flatten(data.files);
    },

    diffLoadSucceeded: function(event) {
      this.diff = event.detail.response;
    },
    diffLoadFailed: function(event) {
      this.diff = null;
    },

    dataLoadSucceeded: function(event) {
      this.massage_(event.detail.response);
      this.data = event.detail.response;
      this.error = '';
    },
    dataLoadFailed: function(event) {
      this.data = null;
      this.error = event.detail.response;
    },
  });
  </script>
</polymer-element>
<polymer-element name="rietveld-diffview" attributes="diff">
  <template>
    <style>
    @-webkit-keyframes slide-in {
       0%   { width: 50%; }
       100% { width: 0%; }
    }
    @-webkit-keyframes slide-out {
       0%   { width: 0%; }
       100% { width: 50%; }
    }
    .lines {
      font-family: monospace;
      overflow-x: hidden;
    }
    .group {
      display: flex;
    }
    .left, .middle, .right {
      -webkit-transform: translateZ(0);
    }
    #diff.animating:not(.unified) .middle {
      -webkit-animation-name: slide-in;
      -webkit-animation-duration: 0.1s;
      -webkit-animation-timing-function: ease-in-out;
      width: 0%;
    }
    #diff.animating.unified .middle {
      -webkit-animation-name: slide-out;
      -webkit-animation-duration: 0.1s;
      -webkit-animation-timing-function: ease-in-out;
      width: 50%;
    }
    #diff.animating .left,
    #diff.animating .middle,
    #diff.animating .right {
      flex-shrink: 0;
      width: 50%;
    }
    #diff:not(.unified) .left,
    #diff:not(.unified) .right {
      flex-shrink: 0;
      width: 50%;
    }
    #diff:not(.animating) .middle {
      display: none;
    }
    #diff.animating .left  .add,
    #diff.animating .right .remove {
      display: none;
    }
    #diff:not(.unified) .left  .add,
    #diff:not(.unified) .right .remove {
      display: none;
    }
    #diff:not(.animating).unified .left {
      flex: 1;
    }
    #diff:not(.animating).unified .middle,
    #diff:not(.animating).unified .right {
      display: none;
    }
    .line {
      display: flex;
    }
    .text {
      white-space: pre-wrap;
      word-break: break-all;
      padding: 2px;
    }
    .add {
      background-color: #dfd;
    }
    .remove {
      background-color: #fdd;
    }
    .header {
      color: #999;
      background-color: #f8f8ff;
    }
    </style>
    <button on-click="onToggle">toggle</button>
    <div id="diff" class="lines unified" on-webkitAnimationEnd="onAnimationEnd">
      <template repeat="{{ file in data }}">
        <div class="file">
          <div class="name">{{ file.name }}</div>
          <template repeat="{{ group in file.groups }}">
            <div class="group">
              <div class="left">
                <template repeat="{{ line in group }}">
                  <div class="line {{ line.type }}"><!--
                  --><div class="text">{{ line.text }}</div><!--
                --></div>
                </template>
              </div>
              <div class="middle"></div>
              <div class="right">
                <template repeat="{{ line in group }}">
                  <div class="line {{ line.type }}"><!--
                  --><div class="text">{{ line.text }}</div><!--
                --></div>
                </template>
              </div>
            </div>
          </template>
        </div>
      </template>
    </div>
  </template>
  <script>
  Polymer('rietveld-diffview', {
    diff: null,
    data: null,

    onAnimationEnd: function() {
      this.$.diff.classList.remove('animating');
    },

    onToggle: function() {
      this.$.diff.classList.toggle('unified');
      this.$.diff.classList.add('animating');
    },

    diffChanged: function() {
      this.data = diff.parse(this.diff);
    },
  });
  </script>
</polymer-element>
