<link rel="import" href="../third_party/polymer-all/polymer-elements/polymer-ajax/polymer-ajax.html">

<polymer-element name="rietveld-issue" attributes="number">
  <template>
    <polymer-ajax
        auto
        url="https://codereview.chromium.org/api/{{number}}"
        handleAs="json"
        id="ajax"
        on-polymer-response="issueLoadSucceeded"
        on-polymer-error="issueLoadFailed">
    </polymer-ajax>
    <style>
    .description {
      white-space: pre;
    }
    </style>

    <template if="{{ issue }}">
      <h1 class="subject">{{ issue.subject }}</h1>
      <div class="description">{{ issue.description }}</div>
      <div class="recipients">
        <div class="reviewers">
          <template repeat="{{ issue.reviewers }}">
            <span class="email">{{ }}</span>
          </template>
        </div>
        <div class="cc">
          <template repeat="{{ issue.cc }}">
            <span class="email">{{ }}</span>
          </template>
        </div>
      </div>
      <label>Closed: <input type="checkbox" checked="{{ issue.closed }}"></label>
      <label>Commit: <input type="checkbox" checked="{{ issue.commit }}"></label>
      <label>Private: <input type="checkbox" checked="{{ issue.private }}"></label>
      <div class="created">{{ issue.created }}</div>
      <div class="modified">{{ issue.modified }}</div>
      <div class="owner"><span class="name">{{ issue.owner }}</span><span class="email">{{ issue.owner_email }}</span></div>
      <template repeat="{{ issue.patchsets }}">
        <rietveld-patchset id="{{ }}"></rietveld-patchset>
      </template>
    </template>

    <template if="{{ error }}">
      <h1>Issue {{number}} failed to load.</h1>
      <p>{{error}}</p>
    </template>
  </template>
  <script>
  Polymer('rietveld-issue', {
    number: '',
    issue: null,
    error: '',
    numberChanged: function() {
      this.issue = null;
      this.error = '';
    },
    issueLoadSucceeded: function(event) {
      this.issue = event.detail.response;
    },
    issueLoadFailed: function(event) {
      this.error = event.detail.response;
    },
  });
  </script>
</polymer-element>
