<link rel="import" href="../third_party/polymer-all/polymer-elements/polymer-ajax/polymer-ajax.html">
<link rel="import" href="../third_party/polymer-all/polymer-ui-elements/polymer-ui-toggle-button/polymer-ui-toggle-button.html">
<link rel="import" href="../third_party/polymer-all/polymer-ui-elements/polymer-ui-collapsible/polymer-ui-collapsible.html">
<link rel="import" href="../third_party/polymer-all/polymer-ui-elements/polymer-ui-accordion/polymer-ui-accordion.html">
<script src="diff.js"></script>
<polymer-element name="rietveld-issue" attributes="server number">
  <template>
    <polymer-ajax
        auto
        url="{{ server }}/api/{{number}}?messages=true"
        handleAs="json"
        id="ajax"
        on-polymer-response="issueLoadSucceeded"
        on-polymer-error="issueLoadFailed">
    </polymer-ajax>
    <style>
    .issue {
      font-family: 'Helvetica Neue', Helvetica, Arial, 'open sans', sans-serif;
    }
    polymer-ui-collapsible {
      margin-bottom: 2px;
      border: 1px solid #ddd;
    }
    .polymer-ui-collapsible-header {
      padding: 10px;
      border-bottom: 1px solid #bcbcbc;
      font-weight: bold;
      cursor: pointer;
    }
    .description {
      white-space: pre;
    }
    .metadata {
      padding: 10px;
    }
    .subject{
      font-weight: bold;
    }
    .owner {
      font-style: italic;
    }
    .description {
    }
    .reviewers:before {
      content: "Reviewers: "
    }
    .cc:before {
      content: "CC: ";
    }
    .message {
      border: 1px solid #ddd;
    }
    .message .sender {
      background-color: #f8f8ff;
      padding: 10px;
      font-style: italic;
    }
    .message .date {
      float: right;
      padding: 10px;
      font-style: italic;
    }
    .message .text {
      padding: 10px;
      white-space: pre;
    }
    </style>
    <template if="{{ data }}">
      <div class="issue">
        <div class="metadata">
          <div class="subject">{{ data.subject }}</div>
          <div class="owner">By <span class="name">{{ data.owner }}</span> &lt;<span class="email">{{ data.owner_email }}</span>&gt;</div>
          <div class="description">{{ data.description }}</div>
          <div class="recipients">
            <div class="reviewers">
              <template repeat="{{ email in data.reviewers }}">
                <span class="email">{{ email }}</span>
              </template>
            </div>
            <div class="cc">
              <template repeat="{{ email in data.cc }}">
                <span class="email">{{ email }}</span>
              </template>
            </div>
          </div>
        </div>
        <polymer-ui-accordion on-polymer-activate="onActivatePatchset">
          <template repeat="{{ patchset in data.patchsets }}">
            <polymer-ui-collapsible>
              <div class="polymer-ui-collapsible-header">Patchset {{ patchset }}</div>
              <div class="content">
                <rietveld-patchset server="{{ server }}" issue="{{ number }}" patchset="{{ patchset }}" active></rietveld-patchset>
              </div>
            </polymer-ui-collapsible>
          </template>
        </polymer-ui-accordion>
        <polymer-ui-toggle-button onCaption="Closed" offCaption="Open" value="{{ data.closed }}"></polymer-ui-toggle-button>
        <polymer-ui-toggle-button onCaption="CQ+" offCaption="CQ-" value="{{ data.commit }}"></polymer-ui-toggle-button>
        <polymer-ui-toggle-button onCaption="Private" offCaption="Public" value="{{ data.private }}"></polymer-ui-toggle-button>
        <div class="messages">
          <template repeat="{{ message in data.messages }}">
            <div class="message">
              <div class="date">{{ message.date }}</div>
              <div class="sender">{{ message.sender }}</div>
              <div class="text">{{ message.text }}</div>
            </div>
          </template>
        </div>
      </div>
    </template>

    <template if="{{ error }}">
      <h1>Issue {{number}} failed to load.</h1>
      <p>{{error}}</p>
    </template>
  </template>
  <script>
  Polymer('rietveld-issue', {
    server: '',
    number: '',
    data: null,
    error: '',
    onActivatePatchset: function(event) {
      // If we wanted to lazily fetch the patchsets, we could do that here.
      // event.detail.item.querySelector('rietveld-patchset').active = true;
    },
    issueLoadSucceeded: function(event) {
      this.data = event.detail.response;
      this.error = '';
    },
    issueLoadFailed: function(event) {
      this.data = null;
      this.error = event.detail.response;
    },
  });
  </script>
</polymer-element>
<polymer-element name="rietveld-patchset" attributes="server issue patchset active">
  <template>
    <polymer-ajax
        url="{{ server }}/download/issue{{ issue }}_{{ patchset }}.diff"
        id="ajax"
        on-polymer-response="diffLoadSucceeded"
        on-polymer-error="diffLoadFailed">
    </polymer-ajax>
    <template if="{{ diff }}">
      <rietveld-diffview diff="{{ diff }}"></rietveld-diffview>
    </template>
  </template>
  <script>
  Polymer('rietveld-patchset', {
    server: '',
    issue: '',
    patchset: '',
    diff: null,
    activeChanged: function() {
      this.$.ajax.auto = true;
    },
    diffLoadSucceeded: function(event) {
      this.diff = event.detail.response;
    },
    diffLoadFailed: function(event) {
      this.diff = null;
    },
  });
  </script>
</polymer-element>
<polymer-element name="rietveld-diffview" attributes="diff">
  <template>
    <style>
    @-webkit-keyframes slide-in {
       0%   { width: 50%; }
       100% { width: 0%; }
    }
    @-webkit-keyframes slide-out {
       0%   { width: 0%; }
       100% { width: 50%; }
    }
    .name {
      background-color: #f0f0f8;
    }
    #diff {
      overflow-x: hidden;
      font-family: monospace;
    }
    .group {
      display: flex;
    }
    .left, .middle, .right {
      -webkit-transform: translateZ(0);
    }
    #diff.animating:not(.unified) .middle {
      -webkit-animation-name: slide-in;
      -webkit-animation-duration: 0.1s;
      -webkit-animation-timing-function: ease-in-out;
      width: 0%;
    }
    #diff.animating.unified .middle {
      -webkit-animation-name: slide-out;
      -webkit-animation-duration: 0.1s;
      -webkit-animation-timing-function: ease-in-out;
      width: 50%;
    }
    #diff.animating .left,
    #diff.animating .middle,
    #diff.animating .right {
      flex-shrink: 0;
      width: 50%;
    }
    #diff:not(.unified) .left,
    #diff:not(.unified) .right {
      flex-shrink: 0;
      width: 50%;
    }
    #diff:not(.animating) .middle {
      display: none;
    }
    #diff.animating .left  .add,
    #diff.animating .right .remove {
      display: none;
    }
    #diff:not(.unified) .left  .add,
    #diff:not(.unified) .right .remove {
      display: none;
    }
    #diff:not(.animating).unified .left {
      flex: 1;
    }
    #diff:not(.animating).unified .middle,
    #diff:not(.animating).unified .right {
      display: none;
    }
    .line {
      display: flex;
    }
    .text {
      white-space: pre-wrap;
      word-break: break-all;
      padding: 2px;
    }
    .add {
      background-color: #dfd;
    }
    .remove {
      background-color: #fdd;
    }
    .header {
      color: #999;
      background-color: #f8f8ff;
    }
    </style>
    <div id="diff" class="unified" on-webkitAnimationEnd="onAnimationEnd">
      <button on-click="onToggle">Toggle</button>
      <template repeat="{{ file in data }}">
        <div class="name text">{{ file.name }}</div>
        <template repeat="{{ group in file.groups }}">
          <div class="group">
            <div class="left">
              <template repeat="{{ line in group }}">
                <div class="line {{ line.type }}"><!--
                --><div class="text">{{ line.text }}</div><!--
              --></div>
              </template>
            </div>
            <div class="middle"></div>
            <div class="right">
              <template repeat="{{ line in group }}">
                <div class="line {{ line.type }}"><!--
                --><div class="text">{{ line.text }}</div><!--
              --></div>
              </template>
            </div>
          </div>
        </template>
      </template>
    </div>
  </template>
  <script>
  Polymer('rietveld-diffview', {
    diff: null,
    data: null,

    onAnimationEnd: function() {
      this.$.diff.classList.remove('animating');
    },

    onToggle: function() {
      this.$.diff.classList.toggle('unified');
      this.$.diff.classList.add('animating');
    },

    diffChanged: function() {
      this.data = diff.parse(this.diff);
      // This is gross, but we can't set active="true" in markup
      // https://github.com/Polymer/polymer-ui-elements/issues/11
      setTimeout(function() {
        Array.prototype.forEach.call(this.$.diff.querySelectorAll('.file'), function(element) {
          element.active = true;
        });
      }.bind(this), 0);
    },
  });
  </script>
</polymer-element>
